@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item:hover img {
  opacity: 0.3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

.overlay-text {
  max-width: 80%;
}

.overlay-text h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.overlay-text p {
  margin: 10px 0 0;
  font-size: 16px;
}



/* Style for all dots */
.slick-dots li button:before {
  color: white;
  opacity: 1;
}

/* Style for the active dot */
.slick-dots li.slick-active button:before {
  color: #a39b99;
  /* Color for active dot */
}

/* Adjust the positioning of the dots */
.slick-dots {
  bottom: -60px;
 z-index: 1;
  /* Adjust this value as needed */
}

/* Hide the default arrows */
.slick-prev,
.slick-next {
  display: none !important;
}
@keyframes slide {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.dot {
  animation: slide 2s infinite;
}